.labelModalUpdatableUL {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.collaborationsDeletable {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin: 5px;
}

.collaborationNames {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.collaborationOwner {
  font-style: italic;
  font-size: 12px;
}

.collaborationSpace {
  visibility: hidden;
  font-size: 12px;
}

.collabCopy {
  margin-bottom: 5px;
}
