.modal-screen {
  position: fixed;
  background: rgba(230, 230, 230, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.updateForm {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -220px;
  width: 602px;
  z-index: 3;
  border-radius: 1px;
  color: #737373;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0px 0px 5px 1px #7f7f7f;
  min-height: 136px;
  padding: 5px 20px 0 20px;
}

#noteShowLabelSelector {
  font-family: 'Roboto', sans-serif;
}

.noteShowUpdate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.noteShowUpdateCopy {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  width: 40%;
  font-size: 12px;
  color: #0000008a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.note-index-item-label-div-show {
  background-color: inherit;
  width: 60%;
  min-height: 30px;
  height: auto;
  padding: 2px 0;
  font-family: 'Roboto Slab',serif;
  box-sizing: border-box;
  word-wrap: break-word;
  font-weight: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
