/* line 1, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.lightBulbWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

/* line 12, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.lightBulbContainer {
  min-width: 300px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 24, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.lightBulbIcon {
  height: 120px;
  width: 120px;
  margin: 20px;
}

/* line 30, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.notesCopy {
  color: #9f9f9f;
  background-color: inherit;
  font-size: 20px;
  font-family: 'Roboto Slab',serif;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 42, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.notesIndexWrapper {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  box-sizing: border-box;
  margin: 30px 13px 45px;
}

/* line 54, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.notesIndex {
  background-color: inherit;
  width: calc(100% - 25px);
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  margin: 13px;
}

/* line 67, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-wrapper {
  width: 240px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* line 80, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item {
  width: 240px;
  cursor: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 5px #7f7f7f;
  border-radius: 2px;
  position: relative;
}

/* line 93, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-wrapper:hover .note-index-item {
  width: 240px;
  cursor: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px #7f7f7f;
  border-radius: 2px;
  position: relative;
}

/* line 107, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-title {
  background-color: inherit;
  box-sizing: border-box;
  width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px 0 15px;
  min-height: 38px;
  font-size: 17px;
  font-family: 'Roboto Condensed',sans-serif;
  line-height: 23px;
  font-weight: bold;
}

/* line 124, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-title {
  height: 0;
}

/* line 128, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-wrapper:hover .note-index-item-title {
  background-color: inherit;
  width: 240px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px 0 15px;
  min-height: 38px;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Roboto Condensed',sans-serif;
  line-height: 23px;
}

/* line 145, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-content {
  background-color: inherit;
  width: 240px;
  height: auto;
  padding: 12px 15px 15px 15px;
  font-family: 'Roboto Slab',serif;
  box-sizing: border-box;
  word-wrap: break-word;
  font-weight: 10;
}

/* line 156, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-wrapper:hover .note-index-item-content {
  background-color: inherit;
  width: 240px;
  min-height: 30px;
  padding: 12px 15px 15px 15px;
  font-family: 'Roboto Slab',serif;
  box-sizing: border-box;
  word-wrap: break-word;
  font-weight: 10;
}

/* line 167, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-footer-container {
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 34px;
}

/* line 178, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-footer {
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 34px;
  visibility: hidden;
  padding: 5px 15px 15px 15px;
}

/* line 191, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.note-index-item-wrapper:hover .note-index-item-footer {
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 34px;
  visibility: visible;
  padding: 5px 15px 10px 15px;
}

/* line 204, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.noteIcon {
  width: 18px;
  height: 18px;
  opacity: 2;
  cursor: pointer;
}

/* line 211, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.noteIcon:hover {
  color: #0000008a;
}

/* line 215, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#colorPaletteIcon {
  background-image: url(/assets/painter-palette-f0f564dbc64ff31d81e6c82266e020bd8e9ca702e362e0353dc83987a376d7cb.png);
  position: relative;
  width: 18px;
  height: 18px;
  background-size: 100%;
}

/* line 223, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#tagIcon {
  background-image: url(/assets/tag-7425847ffdf058dca86186b12caee092306fd1555de4a2a33bc97f104386a031.png);
  position: relative;
  width: 18px;
  height: 18px;
  background-size: 100%;
}

/* line 231, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.colorPaletteDropdownWrapper {
  width: 150px;
  height: 130px;
  display: none;
}

/* line 237, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#colorPaletteIcon:hover .colorPaletteDropdownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: -5px;
}

/* line 247, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.colorPaletteDropdownWrapper:hover .colorPaletteDropdown {
  width: 138px;
  height: 113px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  box-shadow: 0 1px 3px #9c9c9c;
  padding: 10px;
}

/* line 264, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.colorPaletteDropdown {
  display: none;
}

/* line 268, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#colorPaletteIcon:hover .colorPaletteDropdown {
  width: 138px;
  height: 113px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  box-shadow: 0 1px 3px #9c9c9c;
  padding: 10px;
}

/* line 285, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.colorDot {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #fff;
  align-items: center;
  justify-content: center;
}

/* line 296, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#colorDotWhite {
  border: 1.5px solid #e8e8e8;
}

/* line 300, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.colorDot:hover {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1.5px solid #9c9c9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 311, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#colorDotWhite:hover {
  border: 1.5px solid #9c9c9c;
}

/* line 315, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.tick {
  width: 18px;
  height: 18px;
}

/* line 320, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelectorModalWrapper {
  width: 200px;
  display: none;
}

/* line 325, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelectorHeader {
  font-size: 14px;
  font-weight: bold;
  width: 90%;
  text-align: left;
  margin-bottom: 2px;
  padding: 8px;
}

/* line 334, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelector {
  display: none;
}

/* line 338, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#tagIcon:hover .labelSelectorModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 368px;
  left: -5px;
  z-index: 2;
  cursor: default;
  color: black;
}

/* line 351, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
#tagIcon:hover .labelSelectorModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  position: absolute;
  box-shadow: 0 1px 3px #9c9c9c;
  padding: 5px 0 10px 0;
  font-size: 13px;
}

/* line 368, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelector {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  margin-top: 3px;
}

/* line 377, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelectorModalLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  margin: 1px;
}

/* line 389, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.insideLi {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 397, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.insideLiP {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* line 405, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.labelSelectorModalLi:hover {
  background-color: #efe9e9de;
  cursor: pointer;
}

/* line 410, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.clickedDiv {
  background-image: url(/assets/verification-square-button-0d47106fe5636aa50d1614afc73ae85f0198791eb6d642ab02db33f68b7eb492.png);
  background-size: contain;
  height: 14px;
  width: 14px;
  border-radius: 2px;
  border: 1px solid #747474;
  margin: 5px;
}

/* line 420, /Users/ryanfitzgerald/Desktop/App_Academy/keap_st/app/assets/stylesheets/note_index.scss */
.unclickedDiv {
  height: 14px;
  width: 14px;
  border-radius: 2px;
  border: 1px solid #747474;
  margin: 5px;
  background-color: #fafafa;
}
